.body-schedule {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  .title-schedule {
    display: flex;
    justify-content: space-evenly;
    .search {
      height: 40px;
      background: white;
    }

  }

  .main-body-schedule {
    min-height: 75vh;
    .main {
      display: flex;
      justify-content: center;

    }
    .addTask {
      border: 1px solid #0d4fff;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      background-color: #0d4fff;
      color: white;
    }

    .check-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .body-task {
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      display: flex;
      position: relative;
      min-height: 8vh;
      .chackbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2vw;
      }
      .display-task {
        display: flex;
        width: 80vw;
        justify-content: space-around;
        .body-description {
          width: 20vw;
          .display-description {
            width: 20vw;
            word-wrap: break-word;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .descriprion {
            width: 200px;
            min-height: 35px;

          }
        }
        .buttons {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
        }

      }

    }
  }

}

.star {
  display: flex;
  margin-bottom: 1vh
}

.input {
  width: 700px;
  height: 40px;
  border: transparent;
  border-radius: 10px;
}

.checked {
  color: orange;
}

.hello {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1vh;
  min-height: 50px;

  div {
    &.active {
      background-color: black;
      color: black;
    }
  }
}

.saveSubmit {
  width: 150px;
}

.check-all {
  position: absolute;
  left: 11vw;
}

label {
  margin-bottom: 0px;
}

.star-rating {
  line-height: 32px;
  font-size: 1.25em;
}

.star-rating .fa-star {
  color: yellow;
}

.rating > span:hover:before,
.rating .span {
  content: "\2605";
  position: absolute;
}

.star-priority {
  margin-left: 3vw;
  background: transparent;
  border: transparent;
}

.body-buttons {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}

.sort-task {
  height: 80px;
}

.container-1 input#search {
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.input-search {
  height: 40px;
  border: 1px solid transparent;
}
